<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--定时任务管理器空闲时间，根据任务的精确程度和执行频率来定，如果任务周期大，可以稍微大点，如20秒，60秒，如果执行频率或者精度很高，可以设为1秒，2秒-->
    <add key="TimerTaskEngineIdelSec" value="2"/>
    
    <!--是否需要启动Wcf服务（Wcf服务可以提供远程的定时任务管理） True/False，如果只需要运行在FrameWork2.0环境下，将该配置设为False-->
    <add key="IsNeedWcf" value="False"/>
    
  </appSettings>



  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TimerTaskWcfService.Service1Behavior"
        name="TimerTaskWcfService.TimerTaskService">
        <endpoint address="" binding="basicHttpBinding" contract="TimerTaskWcfService.ITimerTaskService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/TimerTaskWcfService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TimerTaskWcfService.Service1Behavior">
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false 并删除上面的元数据终结点  -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试， 
          请将下值设置为 true。在部署前 
            设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  
  
</configuration>