<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--定时任务服务部署的服务器，如果部署的目标机器上只有一个网卡(包括虚拟网卡在内)，则不用配置-->
    <add key="SocketIP" value="127.0.0.1"/>
    <add key="SocketPort" value="8081"/>

    <!--定时任务管理器空闲时间，根据任务的精确程度和执行频率来定，如果任务周期大，可以稍微大点，如20秒，60秒，如果执行频率或者精度很高，可以设为1秒，2秒-->
    <add key="TimerTaskEngineIdelSec" value="2"/>
    
  </appSettings>
</configuration>